fastapi
uvicorn[standard]
redis[asyncio]
jinja2
orjson
msgpack
zstandard
uvloop
async-lru
psutil
aiohttp
opentelemetry-distro
opentelemetry-exporter-otlp
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-redis
opentelemetry-instrumentation-logging
